<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Wadoud/IdeaProjects/basicSelenium/src"><classes><class name="a05_JUnitFramework.C01_JUnitNotatio"><methods><include name="test01"/><include name="test2"/><include name="test3"/></methods></class><class name="a05_JUnitFramework.C02_JUnitAssertion"><methods><include name="test01"/></methods></class><class name="a05_JUnitFramework.C03_JUAssertionPractice"><methods><include name="test01"/></methods></class><class name="a07_TestNG.SoftAssertionTestNG"><methods><include name="testSoftAssert"/></methods></class><class name="a07_TestNG.TestNG"><methods><include name="test01"/><include name="test02"/><include name="test03"/></methods></class></classes></test></suite>